extends ../layout/project.pug
include ../../components/input/input.pug
block main
    main.about 
        - const crumbs = [{name:"Главная", href:"/"},{name:"О компании",href:"/about.html"}]
        .crumbs.about__crumbs
            each i,idx in crumbs
                if (idx<crumbs.length-1) 
                    a(href= i.href)= i.name+" - "
                else 
                    a(href= i.href)= i.name
        h1.about__title О компании
        .about__text 
            | Мы временно работаем в режиме интернет-магазина. Это означает, что пока к нам нельзя приехать и сразу забрать товар, 
            | но можно заказать доставку или переместить товар на пункт самовывоза и забрать самому. Мы работаем с крупнейшими 
            | производителями и поставщиками внедорожного оборудования и являемся официальными дилерами торговых марок: 
            | РИФ, Ironman, Maxtrax, Viair, Runva, Hi-Lift, Proflex, Marks 4Wd Adaptors, BFGoodrich, IBS, Flex Line, OFF-ROAD Wheels и других. 
            | У нас гибкая система скидок и индивидуальный подход к каждому клиенту. Кроме этого мы можем предложить партнерские программы 
            | для автоклубов. Если Вы хотите, чтобы Ваш автоклуб и наш магазин стали партнерами, Вы можете связаться с нами любым удобным 
            | способом, например, по телефону магазина, или через форму обратной связи.
