extends ../layout/project.pug
include ../../components/input/input.pug
include ../../components/input/input.pug
block main
    main.account
        aside.account__menu
            ul.catalog 
                - menus=["Профиль","Мои заказы","Настройки"]
                each i,idx in menus
                    if i==="Профиль"
                        +menuItem(i,idx,"true")
                            ul.sub-menu__content
                                li.catalog__item
                                    .catalog__itembody
                                        a(href="#") Редактировать профиль
                    else
                        +menuItem(i,idx)
                .account__logout 
                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M16 15C15.724 15 15.5 15.224 15.5 15.5V22.5C15.5 22.776 15.276 23 15 23H3C2.724 23 2.49998 22.776 2.49998 22.5V1.5C2.49998 1.224 2.724 0.999984 3 0.999984H15C15.276 0.999984 15.5 1.224 15.5 1.5V8.49998C15.5 8.77598 15.724 9 16 9C16.276 9 16.5 8.77598 16.5 8.49998V1.5C16.5 0.672984 15.8271 0 15 0H3C2.17298 0 1.5 0.672984 1.5 1.5V22.5C1.5 23.327 2.17298 24 3 24H15C15.827 24 16.5 23.327 16.5 22.5V15.5C16.5 15.224 16.276 15 16 15Z" fill="#181614")
                        path(d="M22.329 11.624L18.329 8.12398C18.182 7.99498 17.971 7.96399 17.793 8.04499C17.615 8.12599 17.5 8.30398 17.5 8.50001V10H12C11.724 10 11.5 10.224 11.5 10.5V13.5C11.5 13.776 11.724 14 12 14H17.5V15.5C17.5 15.696 17.614 15.8741 17.793 15.9551C17.859 15.9851 17.93 16.0001 18 16.0001C18.119 16.0001 18.236 15.9581 18.329 15.8761L22.329 12.3761C22.438 12.281 22.5 12.1441 22.5 12.0001C22.5 11.8561 22.438 11.719 22.329 11.624ZM18.5 14.398V13.5C18.5 13.224 18.276 13 18 13H12.5V10.9999H18C18.276 10.9999 18.5 10.7759 18.5 10.4999V9.60195L21.241 12L18.5 14.398Z" fill="#181614")
                    span Выйти
        .acount__main 
            h1.account__title Профиль
            .account__form 
                .account__table
                    - 
                        const table = [
                        {name:"Имя", placeholder:"Павел"},
                        {name:"Фамилия", placeholder:"Герасимов"},
                        {name:"Телефон", placeholder:"+7 (495) 027-68-08"},
                        {name:"E-mail", placeholder:"oubr-5649@yopmail.com"}
                        ]
                    each i in table 
                        +input(i.name, i.placeholder)
