extends ../layout/project.pug
include ../../components/input/input.pug
block main
    main.new 
    - const crumbs = [{name:"Главная", href:"/"},{name:"Новости",href:"/news.html"},{name:"Главная новсость &#127825; ",href:"/new.html"}]
        .crumbs.new__crumbs
            each i,idx in crumbs
                if (idx<crumbs.length-1) 
                    a(href= i.href)= i.name+" - "
                else 
                    a(href= i.href)!= i.name
        h1.new__title Съемный усиленный регулируемый фаркоп
        .new__body 
            img.new__img(src="../../assets/products/Rectangle 48.png" alt="product")
            .new__text 
                p В продажу поступил новый съемный усиленный регулируемый фаркоп. Фаркоп можно отрегулировать под нужную высоту прицепа в весьма широком диапазоне. В этом случае его можно использовать на разных машинах, с разными прицепами, с разными по высоте колесами, и разными загрузками. Прицеп всегда будет стоять ровно, без крена на корму или дышло.
                p Фаркоп имеет четыре фиксированных положения (диапазон регулировки - 12 см с шагом 4 см). Максимально высокое положение - 8 см от оси вставляемого квадрата до плоскости крепления шара, и самое низкое 20 см.
                p Также имеется возможность перевернуть сам кронштейн крепления шара вверх, увеличив высоту шара. Максимальная нагрузка на фаркоп - 2268 кг (5000 lbs).