extends ../layout/project.pug
include ../../components/input/input.pug
block main
    main.registration
        h1.registration__title Форма регистрации
        form.registration__form
            - 
                const data = [
                    {name:"Имя", error: "Обязательное поле для заполнения"},
                    {name:"Фамилия", error: "Обязательное поле для заполнения"},
                    {name:"Телефон", error: "Поле должно содержть корректный телефонный номер"},
                    {name:"Улица", error: "Обязательное поле для заполнения"},
                    {name:"Дом", error: ""},
                    {name:"Квартира/офис", error: ""},
                    {name:"E-mail (login)", error: "Поле должно содержать корректный E-mail (login)"},
                    {name:"Пароль", error: "Обязательное поле для заполнения"},
                    {name:"Повторите пароль", error: "Пароли не совпадают"},
                ]
            each i in data.slice(0,4)
                +input(i.name+'<span>*</span>',i.error)(required="true" untouched="true")
                //- .registration__error= i.error
            .registration__row 
                +input(data[4].name)
                +input(data[5].name)
            each i in data.slice(-3)
                +input(i.name+'<span>*</span>',i.error)(required="true" untouched="true")     
                //- .registration__error= i.error

            .registration__row.recaptcha 
                p Здесь должна быть recaptcha
                p После регистрации, на указанный Вами email придёт Ваш логин и пароль.
            
            button.registration__login(type="submit") Зарегистрироваться

