main.news
    max-width: unset
    & .news-card
        margin-bottom: 37px
.news
    &__crumbs
        margin: 22px 0 61px
    &__list
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        @media screen and ( max-width:  1440px  )
            justify-content: center
