@import "./mixins/_mixins"
.registration
    +center
    flex-direction: column
    &__form
        width: 373px
        & > *:not(:last-child)
            margin-bottom: 17px
        & > .input span
            color: red

    &__row
        +center
        column-gap: 20px
