ul.head__right.main-menu
    - 
        const menuItems = [
            { name: "О компании", href:"/about.html"},
            { name: "Доставка и оплата", href:"#"},
            { name: "Как сделать заказ", href:"#"},
            { name: "Новости", href:"/news.html"},
            { name: "Контакты", href:"#"}
            ]
    each i in menuItems
        li.main-menu__item.main-menu__item-top
            a(href= i.href)= i.name